@charset "utf-8";

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #000;
  outline: none;
} /*라인 없애기*/
input[type="text"]::-ms-clear {
  display: none;
} /*익스, 인풋에서 텍스트 지우기 삭제*/

/*dotline*/
.dashedT {
  border-top: 1px dashed #ccc;
}
.dotlineT {
  border-top: 1px dotted #ccc;
}
.solidT {
  border-top: 1px solid #000;
}

.dashedB {
  border-bottom: 1px dashed #ccc;
}
.dotlineB {
  border-bottom: 1px dotted #ccc;
}
.solidB {
  border-bottom: 1px solid #ccc;
}

/*줄바꿈*/
.br {
  display: block !important;
}
.mbr {
  display: inline;
}
.wbr {
  display: block;
}
@media screen and (max-width: 768px) {
  .mbr {
    display: block !important;
  }
  .wbr {
    display: inline !important;
  }
}

.blank {
  text-align: center !important;
  padding: 5% 0 !important;
  width: 100% !important;
}

/*들여쓰기*/
.indent {
  margin: 0 0 40px 20px;
  clear: both;
  overflow: hidden;
  color: #666;
}

/*display style*/
.diB {
  display: block !important;
}
.diIn {
  display: inline !important;
}
.diInB {
  display: inline-block !important;
}
.diNone {
  display: none !important;
}

/*style-type*/
ul.Type-num li,
ol.Type-num li {
  list-style-type: decimal;
  padding-left: 20px;
} /*숫자*/
ul.Type-roman li,
ol.Type-roman li {
  list-style-type: upper-roman;
  padding-left: 20px;
} /*로마숫자*/
ul.Type-alpha li,
ol.Type-alpha li {
  list-style-type: upper-alpha;
  padding-left: 20px;
} /*알파벳*/
ul.Type-circle li,
ol.Type-circle li {
  list-style-type: circle;
  padding-left: 10px;
} /*라인 동그라미*/

/*동그라미 숫자*/
ol.Type-cnum {
  counter-reset: my-counter;
  margin-bottom: 5px;
}
ol.Type-cnum > li {
  font-size: 13.5px;
  color: #7a7a7a;
  margin: 3px 0 0 0;
  padding-left: 24px;
  position: relative;
}
ol.Type-cnum > li:before {
  content: counter(my-counter);
  counter-increment: my-counter;
  border: 1px solid #7a7a7a;
  color: #7a7a7a;
  display: block;
  font-family: verdana, Dotum, AppleGothic, sans-serif;
  font-size: 11px;
  position: absolute;
  left: 4px;
  top: 0;
  letter-spacing: -1px;
  line-height: 12px;
  margin: 5px 5px 0 0;
  text-align: center;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}
ol.Type-cnum li > ol {
  color: #666;
  counter-increment: unset;
  padding: 5px 0 0 19px;
}
ol.Type-cnum li > ol > li:before {
  content: unset;
}

/*Box*/
.Box {
  background: #fff;
  border: 1px solid #dfdddd;
  padding: 10px 15px 10px;
  border-radius: 4px;
  box-sizing: border-box;
} /*흰색 박스*/
.Box-Gray {
  background: #fafafa;
  border: 1px solid #e6e6e6;
  color: #666;
} /*회색 박스*/

/*display style*/
.diB {
  display: block !important;
}
.diIn {
  display: inline !important;
}
.diInB {
  display: inline-block !important;
}
.diNone {
  display: none !important;
}

/*높이*/
.haɪt50 {
  height: 5rem !important;
}
.haɪt40 {
  height: 4rem !important;
}
.haɪt30 {
  height: 3rem !important;
}
.haɪt20 {
  height: 2rem !important;
}
.haɪt10 {
  height: 1rem !important;
}
.haɪt5 {
  height: 0.5rem !important;
}
.haɪt4 {
  height: 0.4rem !important;
}
.haɪt3 {
  height: 0.3rem !important;
}
.haɪt2 {
  height: 0.2rem !important;
}
.haɪt1 {
  height: 0.1rem !important;
}
.haɪt0 {
  height: 0 !important;
}
.haɪtauto {
  height: auto !important;
}

/*넓이*/
.W100 {
  width: 100% !important;
}
.W95 {
  width: 95% !important;
}
.W90 {
  width: 90% !important;
}
.W85 {
  width: 85% !important;
}
.W80 {
  width: 80% !important;
}
.W75 {
  width: 75% !important;
}
.W70 {
  width: 70% !important;
}
.W65 {
  width: 65% !important;
}
.W60 {
  width: 60% !important;
}
.W55 {
  width: 55% !important;
}
.W50 {
  width: 50% !important;
}
.W45 {
  width: 45% !important;
}
.W40 {
  width: 40% !important;
}
.W35 {
  width: 35% !important;
}
.W33 {
  width: 33.33333% !important;
}
.W30 {
  width: 30% !important;
}
.W28 {
  width: 28% !important;
}
.W25 {
  width: 25% !important;
}
.W20 {
  width: 20% !important;
}
.W19 {
  width: 19% !important;
}
.W18 {
  width: 18% !important;
}
.W17 {
  width: 17% !important;
}
.W16 {
  width: 16% !important;
}
.W15 {
  width: 15% !important;
}
.W14 {
  width: 14% !important;
}
.W13 {
  width: 13% !important;
}
.W12 {
  width: 12% !important;
}
.W11 {
  width: 11% !important;
}
.W10 {
  width: 10% !important;
}
.W9 {
  width: 9% !important;
}
.W8 {
  width: 8% !important;
}
.W7 {
  width: 7% !important;
}
.W6 {
  width: 6% !important;
}
.W5 {
  width: 5% !important;
}
.W0 {
  width: 0% !important;
}
.W-auto {
  width: auto !important;
}

/*Text style 검정,회색,흰색 계열*/
.cDark0 {
  color: #000 !important;
}
.cDark3 {
  color: #333 !important;
}
.cDark6 {
  color: #666 !important;
}
.cDark9 {
  color: #999 !important;
}
.cDarkc {
  color: #ccc !important;
}
.cWhite {
  color: #fff !important;
}

/*Text color*/
.fc_r0 {
  color: #ff6600 !important;
} /*주황*/
.font_c0 {
  color: #666 !important;
} /*검정*/
.font_c0_9 {
  color: #999 !important;
} /*회색*/
.font_c1 {
  color: #649804 !important;
} /*그린*/
.font_c2 {
  color: #ed145b !important;
} /*진분홍*/
.font_c3 {
  color: #fbfe00 !important;
} /*노란*/
.font_c4 {
  color: #fff !important;
} /*흰색*/
.font_c5 {
  color: #42c8c6 !important;
} /*민트 계열*/
.font_c6 {
  color: #1757aa !important;
} /*파란계열*/
.font_c7 {
  color: #6c6fcc !important;
} /*보라계열*/
.font_c8 {
  color: #0046b0 !important;
} /*파란계열*/

.cBlue {
  color: #006cb7 !important;
}
.cCyan {
  color: #09b8b2 !important;
}
.cGreen {
  color: #61bc48 !important;
}
.cOrange {
  color: #f8981d !important;
}
.cRed {
  color: #ff0000 !important;
}
.cYellow {
  color: #ffcf11 !important;
}

/*bg color*/
.vvBlue {
  background-color: #0830aa !important;
  color: #fff !important;
}
.vvCyan {
  background-color: #00b290 !important;
  color: #fff !important;
}
.vvGreen {
  background-color: #36ac36 !important;
  color: #fff !important;
}
.vvOrange {
  background-color: #f16e2e !important;
  color: #fff !important;
}
.vvRed {
  background-color: #fb647d !important;
  color: #fff !important;
}
.vvpurple {
  background-color: #593797 !important;
  color: #fff !important;
}
.vvnavy {
  background-color: #28348a !important;
  color: #fff !important;
}
.vvGray {
  background-color: #c8c8c8 !important;
  color: #fff !important;
}
.vvBlack {
  background-color: #444 !important;
  color: #fff !important;
}

.whBlue {
  background-color: #e8f1fb !important;
}
.whCyan {
  background-color: #e7f3f5 !important;
}
.whGreen {
  background-color: #eff7ef !important;
}
.whOrange {
  background-color: #f7ede7 !important;
}
.whRed {
  background-color: #f9e2e6 !important;
}
.whGray {
  background-color: #ececec !important;
}
.whpurple {
  background-color: #e9e5f1 !important;
}
.whnavy {
  background-color: #edeef9 !important;
}

/*회색*/
.n10 {
  background-color: #fff;
}
.n9 {
  background-color: #f3f3f5;
}
.n8 {
  background-color: #dcdddf;
}
.n7 {
  background-color: #cdced0;
}
.n6 {
  background-color: #b2b3b7;
}
.n5 {
  background-color: #9e9fa4;
}
.n4 {
  background-color: #8b8c8f;
}
.n3 {
  background-color: #636466;
}
.n2 {
  background-color: #4c4d4f;
}
.n1 {
  background-color: #1d1d1d;
}

/*line color*/
.lBlue {
  border: 1px solid #0830aa !important;
  color: #0830aa !important;
}
.lCyan {
  border: 1px solid #00b290 !important;
  color: #00b290 !important;
}
.lGreen {
  border: 1px solid #36ac36 !important;
  color: #36ac36 !important;
}
.lOrange {
  border: 1px solid #f16e2e !important;
  color: #f16e2e !important;
}
.lRed {
  border: 1px solid #fb647d !important;
  color: #fb647d !important;
}
.lpurple {
  border: 1px solid #673ab7 !important;
  color: #673ab7 !important;
}
.lnavy {
  border: 1px solid #28348a !important;
  color: #28348a !important;
}
.lGray {
  border: 1px solid #c8c8c8 !important;
  color: #c8c8c8 !important;
}
.lBlack {
  border: 1px solid #444 !important;
  color: #444 !important;
}

/*Borderline*/
.Bt {
  border-top: 0 !important;
}
.Bl {
  border-left: 0 !important;
}
.Br {
  border-right: 0 !important;
}
.Bb {
  border-bottom: 0 !important;
}
.Bnone,
.Bnone li,
.line-no {
  border: none !important;
}
.B2 {
  border-width: 2px !important;
}
.B3 {
  border-width: 3px !important;
}
.B4 {
  border-width: 4px !important;
}
.B5 {
  border-width: 5px !important;
}

/*align*/
.txt_center,
.TxtC,
.TxtC * {
  text-align: center !important;
}
.txt_left,
.TxtL,
.TxtL * {
  text-align: left !important;
}
.txt_rightm,
.TxtR,
.TxtR * {
  text-align: right !important;
}

/*float,both*/
.Fl {
  float: left !important;
}
.Fr {
  float: right !important;
}
.Clear {
  clear: both !important;
  overflow: hidden;
}
.Ov {
  overflow: hidden !important;
}
/*vertical-align*/
.VaT {
  vertical-align: top !important;
}
.VaM {
  vertical-align: middle !important;
}
.VaB {
  vertical-align: bottom !important;
}
.VaT1 {
  vertical-align: 1px !important;
}
.VaT2 {
  vertical-align: 2px !important;
}
.VaT3 {
  vertical-align: 3px !important;
}
.VaT4 {
  vertical-align: 4px !important;
}
.VaT5 {
  vertical-align: 5px !important;
}
.VaT6 {
  vertical-align: 6px !important;
}
.VaT7 {
  vertical-align: 7px !important;
}
.VaT8 {
  vertical-align: 8px !important;
}
.VaT9 {
  vertical-align: 9px !important;
}
.VaT10 {
  vertical-align: 10px !important;
}
.VaB1 {
  vertical-align: -1px !important;
}
.VaB2 {
  vertical-align: -2px !important;
}
.VaB3 {
  vertical-align: -3px !important;
}
.VaB4 {
  vertical-align: -4px !important;
}
.VaB5 {
  vertical-align: -5px !important;
}
.VaB6 {
  vertical-align: -6px !important;
}
.VaB7 {
  vertical-align: -7px !important;
}
.VaB8 {
  vertical-align: -8px !important;
}
.VaB9 {
  vertical-align: -9px !important;
}
.VaB10 {
  vertical-align: -10px !important;
}

/*margin*/
/*마이너스*/
.-mt15 {
  margin-top: -15px !important;
}
.-mt20 {
  margin-top: -20px !important;
}
.-mt25 {
  margin-top: -25px !important;
}

/*동일 간격*/
.pa0 {
  padding: 0 !important;
}
.pa10 {
  padding: 1rem !important;
}
.pa20 {
  padding: 2rem !important;
}
.pa30 {
  padding: 3rem !important;
}
.pa40 {
  padding: 4rem !important;
}
.pa50 {
  padding: 5rem !important;
}
.pa60 {
  padding: 6rem !important;
}

/*Top*/
.pt0 {
  padding-top: 0rem !important;
}
.pt5 {
  padding-top: 0.5rem !important;
}
.pt10 {
  padding-top: 1rem !important;
}
.pt15 {
  padding-top: 1.5rem !important;
}
.pt20 {
  padding-top: 2rem !important;
}
.pt25 {
  padding-top: 2.5rem !important;
}
.pt30 {
  padding-top: 3rem !important;
}
.pt35 {
  padding-top: 3.5rem !important;
}
.pt40 {
  padding-top: 4rem !important;
}
.pt45 {
  padding-top: 4.5rem !important;
}
.pt50 {
  padding-top: 5rem !important;
}
.pt55 {
  padding-top: 5.5rem !important;
}
.pt60 {
  padding-top: 6rem !important;
}
.pt65 {
  padding-top: 6.5rem !important;
}
.pt70 {
  padding-top: 7rem !important;
}
.pt75 {
  padding-top: 7.5rem !important;
}
.pt80 {
  padding-top: 8rem !important;
}
.pt85 {
  padding-top: 8.5rem !important;
}
.pt90 {
  padding-top: 9rem !important;
}
.pt95 {
  padding-top: 9.5rem !important;
}
.pt100 {
  padding-top: 10rem !important;
}

/*Left*/
.pl0 {
  padding-left: 0rem !important;
}
.pl5 {
  padding-left: 0.5rem !important;
}
.pl10 {
  padding-left: 1rem !important;
}
.pl15 {
  padding-left: 1.5rem !important;
}
.pl20 {
  padding-left: 2rem !important;
}
.pl25 {
  padding-left: 2.5rem !important;
}
.pl30 {
  padding-left: 3rem !important;
}
.pl35 {
  padding-left: 3.5rem !important;
}
.pl40 {
  padding-left: 4rem !important;
}
.pl45 {
  padding-left: 4.5rem !important;
}
.pl50 {
  padding-left: 5rem !important;
}
.pl55 {
  padding-left: 5.5rem !important;
}
.pl60 {
  padding-left: 6rem !important;
}
.pl65 {
  padding-left: 6.5rem !important;
}
.pl70 {
  padding-left: 7rem !important;
}
.pl75 {
  padding-left: 7.5rem !important;
}
.pl80 {
  padding-left: 8rem !important;
}
.pl85 {
  padding-left: 8.5rem !important;
}
.pl90 {
  padding-left: 9rem !important;
}
.pl95 {
  padding-left: 9.5rem !important;
}
.pl100 {
  padding-left: 10rem !important;
}

/*Right*/
.pr0 {
  padding-right: 0rem !important;
}
.pr5 {
  padding-right: 0.5rem !important;
}
.pr10 {
  padding-right: 1rem !important;
}
.pr15 {
  padding-right: 1.5rem !important;
}
.pr20 {
  padding-right: 2rem !important;
}
.pr25 {
  padding-right: 2.5rem !important;
}
.pr30 {
  padding-right: 3rem !important;
}
.pr35 {
  padding-right: 3.5rem !important;
}
.pr40 {
  padding-right: 4rem !important;
}
.pr45 {
  padding-right: 4.5rem !important;
}
.pr50 {
  padding-right: 5rem !important;
}
.pr55 {
  padding-right: 5.5rem !important;
}
.pr60 {
  padding-right: 6rem !important;
}
.pr65 {
  padding-right: 6.5rem !important;
}
.pr70 {
  padding-right: 7rem !important;
}
.pr75 {
  padding-right: 7.5rem !important;
}
.pr80 {
  padding-right: 8rem !important;
}
.pr85 {
  padding-right: 8.5rem !important;
}
.pr90 {
  padding-right: 9rem !important;
}
.pr95 {
  padding-right: 9.5rem !important;
}
.pr100 {
  padding-right: 10rem !important;
}

/*Bottom*/
.pb0 {
  padding-bottom: 0rem !important;
}
.pb5 {
  padding-bottom: 0.5rem !important;
}
.pb10 {
  padding-bottom: 1rem !important;
}
.pb15 {
  padding-bottom: 1.5rem !important;
}
.pb20 {
  padding-bottom: 2rem !important;
}
.pb25 {
  padding-bottom: 2.5rem !important;
}
.pb30 {
  padding-bottom: 3rem !important;
}
.pb35 {
  padding-bottom: 3.5rem !important;
}
.pb40 {
  padding-bottom: 4rem !important;
}
.pb45 {
  padding-bottom: 4.5rem !important;
}
.pb50 {
  padding-bottom: 5rem !important;
}
.pb55 {
  padding-bottom: 5.5rem !important;
}
.pb60 {
  padding-bottom: 6rem !important;
}
.pb65 {
  padding-bottom: 6.5rem !important;
}
.pb70 {
  padding-bottom: 7rem !important;
}
.pb75 {
  padding-bottom: 7.5rem !important;
}
.pb80 {
  padding-bottom: 8rem !important;
}
.pb85 {
  padding-bottom: 8.5rem !important;
}
.pb90 {
  padding-bottom: 9rem !important;
}
.pb95 {
  padding-bottom: 9.5rem !important;
}
.pb100 {
  padding-bottom: 10rem !important;
}

@media screen and (min-width: 1024px) {
  /*마진 마이너스*/
  /*Top*/
  .mt-01 {
    margin-top: -0.1rem;
  }
  .mt-10 {
    margin-top: -1rem;
  }
}

.ma0 {
  margin: 0 !important;
}
/*Top*/
.mt0 {
  margin-top: 0rem !important;
}
.mt5 {
  margin-top: 0.5rem !important;
}
.mt10 {
  margin-top: 1rem !important;
}
.mt15 {
  margin-top: 1.5rem !important;
}
.mt20 {
  margin-top: 2rem !important;
}
.mt25 {
  margin-top: 2.5rem !important;
}
.mt30 {
  margin-top: 3rem !important;
}
.mt35 {
  margin-top: 3.5rem !important;
}
.mt40 {
  margin-top: 4rem !important;
}
.mt45 {
  margin-top: 4.5rem !important;
}
.mt50 {
  margin-top: 5rem !important;
}
.mt55 {
  margin-top: 5.5rem !important;
}
.mt60 {
  margin-top: 6rem !important;
}
.mt65 {
  margin-top: 6.5rem !important;
}
.mt70 {
  margin-top: 7rem !important;
}
.mt75 {
  margin-top: 7.5rem !important;
}
.mt80 {
  margin-top: 8rem !important;
}
.mt85 {
  margin-top: 8.5rem !important;
}
.mt90 {
  margin-top: 9rem !important;
}
.mt95 {
  margin-top: 9.5rem !important;
}
.mt100 {
  margin-top: 10rem !important;
}

/*Left*/
.ml0 {
  margin-left: 0rem !important;
}
.ml5 {
  margin-left: 0.5rem !important;
}
.ml10 {
  margin-left: 1rem !important;
}
.ml15 {
  margin-left: 1.5rem !important;
}
.ml20 {
  margin-left: 2rem !important;
}
.ml25 {
  margin-left: 2.5rem !important;
}
.ml30 {
  margin-left: 3rem !important;
}
.ml35 {
  margin-left: 3.5rem !important;
}
.ml40 {
  margin-left: 4rem !important;
}
.ml45 {
  margin-left: 4.5rem !important;
}
.ml50 {
  margin-left: 5rem !important;
}
.ml55 {
  margin-left: 5.5rem !important;
}
.ml60 {
  margin-left: 6rem !important;
}
.ml65 {
  margin-left: 6.5rem !important;
}
.ml70 {
  margin-left: 7rem !important;
}
.ml75 {
  margin-left: 7.5rem !important;
}
.ml80 {
  margin-left: 8rem !important;
}
.ml85 {
  margin-left: 8.5rem !important;
}
.ml90 {
  margin-left: 9rem !important;
}
.ml95 {
  margin-left: 9.5rem !important;
}
.ml100 {
  margin-left: 10rem !important;
}

/*Right*/
.mr0 {
  margin-right: 0rem !important;
}
.mr5 {
  margin-right: 0.5rem !important;
}
.mr10 {
  margin-right: 1rem !important;
}
.mr15 {
  margin-right: 1.5rem !important;
}
.mr20 {
  margin-right: 2rem !important;
}
.mr25 {
  margin-right: 2.5rem !important;
}
.mr30 {
  margin-right: 3rem !important;
}
.mr35 {
  margin-right: 3.5rem !important;
}
.mr40 {
  margin-right: 4rem !important;
}
.mr45 {
  margin-right: 4.5rem !important;
}
.mr50 {
  margin-right: 5rem !important;
}
.mr55 {
  margin-right: 5.5rem !important;
}
.mr60 {
  margin-right: 6rem !important;
}
.mr65 {
  margin-right: 6.5rem !important;
}
.mr70 {
  margin-right: 7rem !important;
}
.mr75 {
  margin-right: 7.5rem !important;
}
.mr80 {
  margin-right: 8rem !important;
}
.mr85 {
  margin-right: 8.5rem !important;
}
.mr90 {
  margin-right: 9rem !important;
}
.mr95 {
  margin-right: 9.5rem !important;
}
.mr100 {
  margin-right: 10rem !important;
}

/*Bottom*/
.mb0 {
  margin-bottom: 0rem !important;
}
.mb5 {
  margin-bottom: 0.5rem !important;
}
.mb10 {
  margin-bottom: 1rem !important;
}
.mb15 {
  margin-bottom: 1.5rem !important;
}
.mb20 {
  margin-bottom: 2rem !important;
}
.mb25 {
  margin-bottom: 2.5rem !important;
}
.mb30 {
  margin-bottom: 3rem !important;
}
.mb35 {
  margin-bottom: 3.5rem !important;
}
.mb40 {
  margin-bottom: 4rem !important;
}
.mb45 {
  margin-bottom: 4.5rem !important;
}
.mb50 {
  margin-bottom: 5rem !important;
}
.mb55 {
  margin-bottom: 5.5rem !important;
}
.mb60 {
  margin-bottom: 6rem !important;
}
.mb65 {
  margin-bottom: 6.5rem !important;
}
.mb70 {
  margin-bottom: 7rem !important;
}
.mb75 {
  margin-bottom: 7.5rem !important;
}
.mb80 {
  margin-bottom: 8rem !important;
}
.mb85 {
  margin-bottom: 8.5rem !important;
}
.mb90 {
  margin-bottom: 9rem !important;
}
.mb95 {
  margin-bottom: 9.5rem !important;
}
.mb100 {
  margin-bottom: 10rem !important;
}
