@charset "utf-8";

/* 웹폰트 */
@font-face {
  font-family: "gmk";
  font-style: normal;
  font-weight: 100;
  src: url("./gmarketsans/GmarketSansLight.woff") format("woff"),
    url("./gmarketsans/GmarketSansLight.ttf") format("truetype");
}

@font-face {
  font-family: "gmk";
  font-style: normal;
  font-weight: normal;
  src: url("./gmarketsans/GmarketSansMedium.woff") format("woff"),
    url("./gmarketsans/GmarketSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "gmk";
  font-style: normal;
  font-weight: 600;
  src: url("./gmarketsans/GmarketSansBold.woff") format("woff"),
    url("./gmarketsans/GmarketSansBold.ttf") format("truetype");
}
